.color {
    color: #959bbd;
    color: #C0D3E4;
    color: #D3EDEA;
    color: #fff;
    color: #FFDCE2;
    color: #F3DBE9;
}

@font-face {
    font-family: "TT backwards script";
    src: url('./fonts/TT\ Backwards\ Script\ Trial\ Regular.otf');
}

@font-face {
    font-family: "Open Sans";
    src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

.imglogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
}
.slide_img_header {
    width: 100%;
    height: 500px;
}

.section2_aboutme {
    display: flex;
    justify-content: space-between;
    margin: 10% 100px;
    align-items: center;
}

.about_me {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px 0 0 10px;
    text-align: center;
    gap: 15px;
}

.about_me h3 {
    font-family: "TT backwards script";
    font-size: 50px;
    color: #959bbd;
}

.about_me p {
    font-family: "Open Sans";
    font-size: 14px;
}

.icon_aboutme {
    display: flex;
    gap: 10px;
}

.img_section2 {
    width: 25%;
    height: 300px;
    display: flex;
    justify-content: end;
}

.img_aboutme {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 10px 15px 0px #959bbd;
}

.list_jobs {
    margin: 10% 100px 0 100px;
    display: flex;
    justify-content: space-evenly;
}

.card_border {
    border: none !important;
}

.img_card {
    width: 100%;
    height: 50%;
    border-radius: 50% !important;
}

.card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_clinica {
    display: flex !important;
}

.modal_content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.img_modal {
    width: 100%;
    height: 340px;
}

.pgf_modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
    text-align: center;
    font-family: 'Open Sans';
}

.customer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 15px 0 10% 0;
}

.card_customer {
    border: 1px solid #FFDCE2 !important;
    box-shadow: 5px 5px 5px 5px #FFDCE2 !important;
}

.img_customer {
    width: 100px;
    height: 275px;
    border-radius: 50% !important;
    overflow: hidden;
}



